---
title: false
styles: true
---

@import "alembic";

body {
    background-image: url("natural-paper.png");
    background-color: #eabb53;
 }

 p {
     color: black;
 }

a {
    color: black;
    text-shadow: 5px 5px #eabb53; 
}

h1 {
    color: black
}

h2 {
    color: black
}

h3 {
    color: black
}

h4 {
    color: black
}